<?xml version="1.0" encoding="utf-8"?>
<icecast>
  <location>Render</location>
  <admin>${ICECAST_ADMIN_EMAIL}</admin>
  <hostname>${ICECAST_HOSTNAME}</hostname>
  <limits>
    <clients>512</clients>
    <sources>2</sources>
    <threadpool>5</threadpool>
    <queue-size>524288</queue-size>
    <client-timeout>30</client-timeout>
    <header-timeout>15</header-timeout>
    <source-timeout>10</source-timeout>
    <burst-on-connect>1</burst-on-connect>
    <burst-size>65535</burst-size>
  </limits>
  <authentication>
    <source-password>${ICECAST_SOURCE_PASSWORD}</source-password>
    <relay-password>${ICECAST_RELAY_PASSWORD}</relay-password>
    <admin-user>admin</admin-user>
    <admin-password>${ICECAST_ADMIN_PASSWORD}</admin-password>
  </authentication>
  <listen-socket>
    <port>${PORT}</port>
    <bind-address>0.0.0.0</bind-address>
  </listen-socket>
  <http-headers>
    <header name="Access-Control-Allow-Origin" value="*"/>
  </http-headers>
  <fileserve>1</fileserve>
  <paths>
    <basedir>/usr/share/icecast2</basedir>
    <logdir>/var/log/icecast2</logdir>
    <webroot>/usr/share/icecast2/web</webroot>
    <adminroot>/usr/share/icecast2/admin</adminroot>
    <pidfile>/var/run/icecast2/icecast.pid</pidfile>
    <alias source="/" dest="/status.xsl"/>
  </paths>
  <mount>
    <mount-name>/live</mount-name>
    <charset>UTF8</charset>
    <no-yp>1</no-yp>
    <fallback-override>1</fallback-override>
    <public>1</public>
  </mount>
  <logging>
    <accesslog>access.log</accesslog>
    <errorlog>error.log</errorlog>
    <loglevel>3</loglevel>
    <logsize>10000</logsize>
  </logging>
</icecast>
